<h3>Привіт, {{inhabitant.name}} {{inhabitant.surname}}</h3>
<p>Ви або хтось іще запросив відновлення паролю.</p>
<p>Для того, щоб відновити пароль, будь ласка, введіть код, що нижче у відповідному полі</p>
<h2>{{code}}</h2>
<p>Або натисність на кнопку:</p>
<a class="btn btn-info" href="{{resetPswdHost}}/{{code}}">
    Скинути пароль
</a>
