<h3>Hello, {{inhabitant.name}} {{inhabitant.surname}}</h3>
<p>You, or someone else requested password reset.</p>
<p>For reset your password, please, type the folowing code in the restoring password promt</p>
<h2>{{code}}</h2>
<p>Also, you may press button bellow:</p>
<a class="btn btn-info" href="{{resetPswdHost}}/{{code}}">
    Reset password
</a>
